@font-face {
    font-family: 'Circular';
    src: url(../assets/fonts/Circular/CircularStd-Book.otf);
    font-weight: 300;
}
@font-face {
    font-family: 'Circular';
    src: url(../assets/fonts/Circular/CircularStd-Bold.otf);
    font-weight: 700;
}
@font-face {
    font-family: 'Circular';
    src: url(../assets/fonts/Circular/CircularStd-Black.otf);
    font-weight: 900;
}


html{
    font-family: Circular, sans-serif;
    font-weight: 300;
    height: 100%;
    width: 100%;
}

body{
    align-items: center;
    background-color: #E55982;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media screen and (min-width: 768px){
html{
    font-size: 25px;
}
}