@font-face {
    font-family: 'Circular';
    src: url(../assets/fonts/Circular/CircularStd-Book.otf);
    font-weight: 300;
}
@font-face {
    font-family: 'Circular';
    src: url(../assets/fonts/Circular/CircularStd-Bold.otf);
    font-weight: 700;
}
@font-face {
    font-family: 'Circular';
    src: url(../assets/fonts/Circular/CircularStd-Black.otf);
    font-weight: 900;
}


html{
    height: 100%;
    width: 100%;
    font-family: Circular, sans-serif;
    font-weight: 300;
}

body{
    align-items: center;
    background-color: #E55982;
    justify-content: center;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100%;
}

header{
    display: flex;
    justify-content: center;
}

nav{
    align-items: center;
    background-color: #9787B8;
    border-radius: 0 0 35px 35px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    display: flex;
    height: 85px;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

nav > a{
    align-items: center;
    display: inherit;
    height: 80%;
    justify-content: center;
}

.logo{
    aspect-ratio: 1/1;
    height: 80%;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0)
}

#menuToggle
{
  display: flex;
  position: absolute;
  right: 10%;
  flex-direction: column;
  z-index: 1;
  user-select: none;
}

#menu a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menu a:hover
{
  color: #E55982;
}


#menuToggle input
{
  cursor: pointer;
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-15px, -15px);
  background: #232323;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(-5px, 5px);
}

#menu
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 50px;
  position: absolute; 
  width: 100%;
  background: #ededed;
  list-style-type: none;
top: -600px;
  height: 300px;
  background-color: #9787B8;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  z-index: -2;
  border-radius: 0 0 35px 35px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}
#menu > li:first-child
{
  font-weight: 700;
  margin-bottom: 70px;
}

main {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: all 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    z-index: 0;
}

#tokenSection{
    align-items: center;
    background-color: #9787B8;
    border-radius: 25px;
    display: none; /* hide the token section when logged on*/
    height: 150px;
    justify-content: center;
    width: 290px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    z-index: 0;
}

.logContent > p{
text-align: center;
font-size: large;
}

.logContent > hr{
    border: 1px solid;
    border-color: #E55982;
    margin-top: 15px;
    margin-bottom: 15px;
}

#connectButton{
    font-family: Circular, sans-serif;
    font-weight: 700;
    padding: 0 20px;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 100px;
    height: 40px;
    background-color: #1DB954;
    border: 0;

}

#deviceSection{
    display: none;
    flex-direction: column;
}

footer{
  transition: all 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  width: 100%;
  background-color: #9787B8;
  border-radius:15px 15px 0 0;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  display: flex;
}

#footerContainer{
  
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 150px;
}

#extendPlayer{
    transform: rotate(-90deg);
    font-weight: 900;
    font-size: 1.7rem;
    margin: auto;
  transition: all 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

}

#footerContainer > p:nth-of-type(2){
  text-align: center;
}

#albumImage{
  display: block;
  aspect-ratio: 1/1; 
  height: 0;
  width: 150px;
transition: all 0.5s cubic-bezier(0.77,0.2,0.05,1.0);


}

#trackTime{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  transition: all 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

}

#musicInfo{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

#trackTitle{
  display: flex;
  text-align: left;
  white-space: normal;
  justify-content: flex-start;
}

#trackArtist{
  text-align: right;
  white-space: normal;
  display: flex;
  justify-content: flex-end;
}
.trackInfo{
  margin: 10px 0;
  width: 50%;
  height: 100%;
}

#controlContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0;
}

#controlContainer > img{
  aspect-ratio: 1/1;
  height: 25px;
}

#footerCheckBox
{
  cursor: pointer;
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  opacity: 0;
  z-index: 2;
}

#footerContainer > div:first-of-type{
  display: flex;
  align-items: center;
  flex-direction: column;
}
